[*.cs]

# Default severity for analyzer diagnostics with category 'Task List'
dotnet_analyzer_diagnostic.category-Task List.severity = silent

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = silent
